* {
    font-family: 'Roboto', sans-serif;
}

h7 {
    font-weight: bolder;
    color: white;
    background-color: slategray;

}

.jumbotron {
    background-color: slategray;

}

.searchbox {
    background-color: orchid;
    border-style: dotted;
    padding: 10px;
}

#searchBtn, #clearBtn {
    background-color: slategray;
    border-color: grey;
}

#results {
    background-color: teal;
    border-style: dotted;
    padding: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    padding-top: 60px;
    background-color: orange;
}