* {
    font-family: 'Roboto', sans-serif;
}

h7 {
font-weight: bolder;
}

.jumbotron {
    background-color: slategray;
}

.searchbox {
    background-color: orchid;
    border-style: dotted;
    padding: 10px;
}


#results {
    background-color: teal;
    border-style: dotted;
    padding: 10px;
}

.footer {

    padding: 10px;
    padding-top: 60px;
    background-color: orange;
}